{% extends "container_agent.twig" %}

{% block content %}
{% if error %}
<div class="row">
    <div class="alert alert-info">
        {{ error }}
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-sm-6">
        <form action="/agent/action/login" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" value="Sign in" class="form-control">
            </div>
        </form>
    </div>
    <div class="col-sm-6">

    </div>
</div>
{% endblock content %}