<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Kahuna Inc</a>
        </div>
        <ul class="nav navbar-nav">
            {% if login == true %}
                <li><a href="/customer/products">My Products</a></li>
                <li><a href="/customer/register-product">Register Product</a></li>
            {% endif %}
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            {% if login == false %}            
                <li><a href="/customer/login">Sign In</a></li>
                <li><a href="/customer/register">Register</a></li>
            {% endif %}
            {% if login == true %}            
                <li><a href="/customer/account">My Account</a></li>
                <li><a href="/customer/action/logout">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

