{% extends "container.twig" %}

{% block content %}

<div class="row">

    <div class="col-sm-6">
        <table class="table">
            <thead>
                <tr>
                    <th>serialId</th>
                    <th>Product</th>
                    <th>Warranty</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{product.serialId}}</td>
                    <td>{{product.name}}</td>
                </tr>
            </tbody>
        </table>
        
        <form action="#">
            <div class="form-group">
                <label for="ticket_message">Please describe the problem</label>
                <textarea name="ticket_message" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Ticket" class="form-control">
            </div>
        </form>
        
    
</div>
{% endblock %}
